/* You can add global styles to this file, and also import other style files */
*{
  font-family: pixlFont;
}
html{
  background-color: #252222;
  color: #eeeeee;

}

.selectionsClass{
  background-color: royalblue;
  margin: 2px;
  color: #eeeeee;
  style: solid;
  border: none;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.deleteBtn{
  background-color: lightcoral;
}


button:disabled{
  background-color: palevioletred;
  color: #eeeeee;
  style: solid;
  border: none;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.errorClass{
  border: darkred 3px solid;
  border-radius: 10px;
  background-color: palevioletred;
  opacity: 0.8;
  padding: 10px;
  color: darkred;
  width: max-content;
}

.inputFieldClass{
  padding: 12px;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #14d3c3;
}
.ng-touched:not(form) {
  border-left: 5px solid cornflowerblue;
}
.ng-invalid:not(form) {
  border-left: 5px solid palevioletred;
}

body{
  margin: 0;
}
