@font-face {
  font-family: 'pixlFont';
  src: url("../assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf") format('truetype');
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  padding: 35px;
  color: white;
}


.content {
  padding-top: 50px;
  padding-left: 20px;
  margin-top: 40px;
}
