<div class="navbar">
  <img src="../assets/images/SuperSpeedCropped.png" (click)="navigateToHome()">

    <div class="dropdown">
      <button class="dropbtn">Options
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a [routerLink]="profileLink">Profile</a>
        <a [routerLink]="login">Logout</a>
        <a [routerLink]="stopwatch">Stopwatch</a>
        <a *ngIf="loginManager.getRunner().adminFlag===1" [routerLink]="users">users</a>
      </div>
    </div>
</div>

<br>
<br>
<div class="content">
  <router-outlet></router-outlet>
</div>
