<h1>{{game.gameName}}</h1> <br>

<h2>Speedruns</h2>

<select name="sortingSelect" [(ngModel)]="sortingVal" (ngModelChange)="sortRuns()" class="selectionsClass">
  <option id="fts" value="fts">fastest-slowest</option>
  <option id="stf" value="stf">slowest-fastest</option>
  <option id="nto" value="nto">newest-oldest</option>
  <option id="otn" value="otn">oldest-newest</option>
</select>

<select name="approvedSelect" [(ngModel)]="approvedVal" class="selectionsClass">
  <option id="app" value="app">Approved runs</option>
  <option id="not" value="not">Not approved runs</option>
  <option id="all" value="all">All runs</option>
</select>

<select name="categorySelect" [(ngModel)]="categoryVal" class="selectionsClass">
  <option *ngFor="let category of categoryApiService.categories" [ngValue]="category.catId">{{category.catName}}</option>
</select>

<button id="addSpeedrunBtn" (click)="addSpeedrunAction()" [disabled]="speedrunAdding || loginManager.getRunner().runnerId===-1" class="selectionsClass">Add Speedrun</button>
<label for="addSpeedrunBtn" *ngIf="loginManager.getRunner().runnerId===-1">Guests can't submit runs</label>


<form [formGroup]="timeForm" *ngIf="speedrunAdding" (ngSubmit)="submitSpeedrunAction()">
  <div class="inputBox">
    <label for="timeInput">Time</label><br>
    <input formControlName="timeInput" id="timeInput" name="timeInput" type="text" class="selectionsClass" placeholder="format hh:mm:SS:ssss">
  </div>
  <div *ngIf="timeInput.invalid && (timeInput.dirty || timeInput.touched)" class="errorClass">
    <div *ngIf="timeInput.value === '' ">
      Time must be set
    </div>
    <div *ngIf="timeInput.errors?.['pattern']">
      Time must be of pattern hh:mm:SS.sss
    </div>
  </div>

  <div class="inputBox">
    <label for="dateInput">run-date</label><br>
    <input formControlName="dateInput" id="dateInput" name="dateInput" type="date" class="selectionsClass">
  </div>
  <div *ngIf="dateInput.invalid && (dateInput.dirty || dateInput.touched)" class="errorClass">
    <div *ngIf="dateInput.errors?.['invalidDate']">
      Run-date can not be in the future and {{dateInput.errors['invalidDate'] | date}} does not meet the criteria
    </div>
  </div>

  <div class="inputBox">
    <label for="categorySelectSpeedrunForm">Category</label>
    <select formControlName="categorySelect" id="categorySelectSpeedrunForm" name="categorySelectSpeedrunForm" class="selectionsClass">
      <option *ngFor="let category of categoryApiService.categories" [ngValue]="category.catId">{{category.catName}}</option>
    </select>
  </div>

  <button type="submit" [disabled]="!timeForm.valid" class="selectionsClass">Submit Run</button>
  <button type="reset" (click)="timeForm.reset()" class="selectionsClass">Reset</button>
</form>

<br><br><br>
<table>
  <tr>
    <th>rank</th>
    <th>time</th>
    <th>runner</th>
    <th>run-date</th>
    <th>approved</th>
  </tr>
  <tr *ngFor="let speedrun of conditionSpeedruns(); let i = index">
    <td>{{i+1}}</td>
    <td>{{speedrun.timeScore | timeFormat}}</td>
    <td>{{runnersForGame.get(speedrun.runId).runnerName}}</td>
    <td>{{speedrun.runDate | date}}</td>
    <td>{{speedrun.approved}}</td>
    <button class="selectionsClass" (click)="approveAction(speedrun)" *ngIf="loginManager.getRunner().adminFlag===1 && !speedrun.approved">Approve</button>
    <button class="selectionsClass" (click)="disapproveAction(speedrun)" *ngIf="loginManager.getRunner().adminFlag===1 && speedrun.approved">Disapprove</button>
    <button class="selectionsClass" (click)="deleteAction(speedrun)" *ngIf="loginManager.getRunner().adminFlag===1">Delete</button>
  </tr>
</table>
